---
import Layout from "~/components/Layout.astro";
---

<Layout title="Astro">
  <div class="text-center">
    <h1 class="text-5xl font-bold">Hello from Astro</h1>
    <p class="text-xl my-4">
      Visit <a href="/gallery" class="underline">Gallery page</a> to see some images.
    </p>
  </div>
</Layout>
